svg {
    display: block;
    height: 100vh;
    margin: 0 auto;
    transition: all 2s;
}

svg:hover {
    transform: scale(1.5);    
}

svg:active #checkmark {
    stroke: #55D21A;
}

@keyframes {
    
}